.bestsellers-box {
	width: 375px;
	min-height: 618px;
	background-color: white;
	border-radius: 24px;
}

#bestsellers-main-div {
	display: flex;
	flex-direction: column;
	padding: 32px;
}

.bestsellers-span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 132%;
	display: flex;
	align-items: center;
	letter-spacing: 0.25px;
	color: #12121f;
}
